{% extends '../layouts/default.twig' %}
{% set meta_description = 'The developer portfolio of Charlie Underhill, a frontend web developer based in Staffordshire.' %}

{% block page %}

	<main class="wrap">
		<div class="wrap__content">
			<div class="wrap__name">
				<h1 class="wrap__title">Charlie Underhill <span>-</span> Web Developer</h1>
				<p class="wrap__subtitle">Web Development Student <span>/</span> Full Time Frontend Web Developer</p>
			</div>
			<div class="wrap__links">
				<a href="https://www.linkedin.com/in/charlesbjerg/" class="wrap__links-single">
					<i class="fab fa-linkedin"></i>
					LinkedIn</a>
				<a href="https://www.github.com/charlesbjerg" class="wrap__links-single">
					<i class="fab fa-github"></i>Github</a>
				<a href="https://www.instagram.com/charlesbjerg" class="wrap__links-single">
					<i class="fab fa-instagram"></i>
					Instagram</a>
			</div>
		</div>
		<div class="wrap__background">
			{# <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' class='pattern'>
				<defs>
					<pattern id="thePattern" x="0" y="0" width=".5" height=".5" patternUnits="objectBoundingBox">
						<rect fill='#222' x="0" y="0" width='.5' height='.5'/>
						<rect fill='#222' x="0" y="0" width='.5' height='.5' stroke='url(#lines)' />
						<rect fill='#222' x="0" y="0" width='.5' height='.5' stroke='url(#linesCircles)' />
					</pattern>
				</defs>
        <g fill='none' stroke-width='1.8' width="1" height="1" id="lines" class='pattern__wrap'>
          <path d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/>
          <path d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/>
          <path d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/>
          <path d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/>
          <path d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/>
        </g>
        <g width="1" height="1" id='linesCircles' class='pattern__circle-wrap'>
          <circle class="pattern__circle" cx='769' cy='229' r='8'/>
          <circle class="pattern__circle" cx='539' cy='269' r='8'/>
          <circle class="pattern__circle" cx='603' cy='493' r='8'/>
          <circle class="pattern__circle" cx='731' cy='737' r='8'/>
          <circle class="pattern__circle" cx='520' cy='660' r='8'/>
          <circle class="pattern__circle" cx='309' cy='538' r='8'/>
          <circle class="pattern__circle" cx='295' cy='764' r='8'/>
          <circle class="pattern__circle" cx='40' cy='599' r='8'/>
          <circle class="pattern__circle" cx='102' cy='382' r='8'/>
          <circle class="pattern__circle" cx='127' cy='80' r='8'/>
          <circle class="pattern__circle" cx='370' cy='105' r='8'/>
          <circle class="pattern__circle" cx='578' cy='42' r='8'/>
          <circle class="pattern__circle" cx='237' cy='261' r='8'/>
          <circle class="pattern__circle" cx='390' cy='382' r='8'/>
        </g>
			</svg> #}

		</div>
	</main>

{% endblock %}
