{% extends '../layouts/default.twig' %}
{% set head_title = 'Developer Portfolio | Charlie Underhill' %}
{% set body_class = '' %}

{% block page %}

<main class="wrap">
  <div class="wrap__name">
    <h1>Charlie Underhill - Web Developer</h1>
    <span>Web Development Student / Full Time Fontend Web Developer</span>
  </div>
  <div class="wrap__links">
    <a href="https://www.linkedin.com/in/charlesbjerg/" class="wrap__links-single"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://www.github.com/charlesbjerg" class="wrap__links-single"><i class="fab fa-github"></i>Github</a>
    <a href="https://www.instagram.com/charlesbjerg" class="wrap__links-single"><i class="fab fa-instagram"></i> Instagram</a>
  </div>
</main>

{% endblock %}
